<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>guest.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>controller.ProductServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>derby</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>derby</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>1527</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>OnlineStoreDB</param-value>
        </init-param>
        <init-param>
            <param-name>dbAdditionalString</param-name>
            <param-value/>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportSalesServlet</servlet-name>
        <servlet-class>controller.ReportSalesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/ProductServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportSalesServlet</servlet-name>
        <url-pattern>/ReportSalesServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
