/* Base */

*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Lexend Deca', sans-serif;
}

/* Navigation Bar */

#nav-login, #nav-signup
{
    text-decoration: none;
    font-family: 'Lexend Deca', sans-serif;
}

#nav-login
{
    margin-right: 10px;
}

/* Header */

#header
{
    top: 0px;
    z-index: 1;
    width: 100%;
    position: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    font-family: 'Lexend Deca', sans-serif;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

/* Footer */

#footer
{
    font-family: 'Lexend Deca', sans-serif;
}

#contact
{
    color: #278b5d;
}

/* index.jsp */

/* contact.jsp */

#h1-contact
{
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    background: lightgray;
    border-radius: 10px;
    max-width: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#div-contact
{
    padding-top: 150px;
    padding-bottom: 150px;
    font-family: 'Lexend Deca', sans-serif;
    background: radial-gradient(at center, #64bb6a, #3cb3c0, #024064, #37782c);
    background-size: 400% 400%;
    animation: gradient 12s ease infinite;
}

#div-profile
{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    background-color: white;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    max-width: 50%;
}

#img-contact
{
    width: 20%;
    border-radius: 20px;
    padding-bottom: 20px;
}

#h1-name
{
    font-size: 25px;
    background: linear-gradient(-45deg, #64bb6a, #024064);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    color: white;
}

#h2-contact
{
    padding-top: 10px;
    color: lightgray;
    font-size: 15px;
}

#img-socials
{
    margin-right: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    width: 25px;
}

#h2-detail
{
    text-align: center;
    padding: 10px 0px 10px 0px;
    font-size: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    background: lightgray;
    border-radius: 10px;
}

/* error.jsp */

/* guest.jsp */

#welcome-message
{
    margin-top: 45px;
    background: radial-gradient(at center, #64bb6a, #3cb3c0, #024064, #37782c);
    background-size: 200% 200%;
    animation: gradient 12s ease infinite;
    font-family: 'Lexend Deca', sans-serif;
}

#card
{
    font-family: 'Lexend Deca', sans-serif;
}

/* login.jsp */

/* signup.jsp */

/* reguser.jsp */

/* cart.jsp */

/* admin.jsp */

/* product.jsp */

/* product_add.jsp */

/* product_update.jsp */

/* report_sales.jsp */

/* report_stocks.jsp */

/* payment.jsp */

/* orderhist.jsp */

/* refund.jsp */